@import "../node_modules/normalize-scss/sass/normalize/import-now";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(41, 45, 62);
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: auto 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tabsblock {
    width:              600px;
    height:             540px;
    box-shadow:         1px 17px 37px 4px rgba(0, 0, 0, 0.2);

    &__navbar {
        background-color:   rgb(43, 48, 64);
        height:             113px;
        display:            flex;
        justify-content:    space-evenly;
    }

    &__navitem {
        margin:             0 30px;
    }

    &__nav-link {
        color:              rgb(141, 145, 163);
        text-transform:     uppercase;
        display:            flex !important;
        flex-direction:     column;
        justify-content:    center;
        align-items:        center;
        gap:                15px;
        font-family:        'Lato', sans-serif;
        font-size: 13px;
    }

    &__tab-content {
        background-color: rgb(33, 37, 52);
        height:             427px !important;
        padding:            60px 45px;
    }

    &__tab-pane {
        height: 100%;
    }
}

.sprite {
    display:            inline-block; 
    background:         url('../img/sprite.png') no-repeat; 
    overflow:           hidden; 
    text-indent:        -9999px; 
    text-align:         left;
    width:              22px; 
    height:             22px;

    &__info-icon {
        background-position:        -5px 0px;
    }

    &__ratings-icon {
        background-position:        -5px -150px;
    }

    &__buy-icon {
        background-position:        -5px -79px;
    }
}

#link1:active  div {
    background-position:    -5px -0px;
}

.st-theme-default > .nav .nav-link.active {
    color: #fff !important;
}

.st-theme-default > .nav .nav-link.active::after {
    background: #fff !important;
}

.st-theme-default > .nav .nav-link {
    color: rgb(141, 145, 163) !important;
}

.st-theme-default {
    border: none;
}

#tab-1 {
    display:            flex;
    justify-content:    space-between;
}

.poster {
    display:            flex;
    flex-direction:     column;
    width:              160px;
    height:             100%;
    justify-content:    center;
    align-items:        center;
}

.star-rating {
    display:        flex;
    gap:            10px;
    &__ratingstar {
        background:             url('../img/sprite.png') no-repeat;
        background-position:    -5px -127px; 
        width:                  19px; 
        height:                 18px;

        &_shining {
            background:             url('../img/sprite.png') no-repeat;
            background-position:    -5px -104px;
            width:                  19px; 
            height:                 18px;
        }
    }
}

.info-content {
    width:              300px;
    height: 100%;
    font-family:        'Lato', sans-serif;
    display:            flex;
    flex-direction:     column;

    &__header {
        height:             72px;
        display:            flex;
        justify-content:    space-between;
        gap:                60px;
    }

    &__release-description {
        width:          190px;

        & > h1 {
            color:              #fff;
            font-weight:        400;
            font-size:          27px;
            margin:             12px 0;
        }

        & > h2 {
            margin:             0;
            font-size:          12px;
            font-weight:        400;
            color:              rgb(253, 253, 253);
            text-transform:     capitalize;
        }
    }
    &__content {
        font-weight:    400;
        color:          rgb(183,186,205);
        font-size:      15px;
        line-height:    23px;
    }

    &__commercial-offer {
        display:            flex;
        justify-content:    space-between;
        height:             57px;
        margin-top:         60px;
    }

    &__buy-button {
        width:              165px;
        background-color:   rgb(19, 226, 161);
        border:             none;
        cursor:             pointer;
        border-radius:      3px;
        text-transform:     uppercase;
        color:              #fff;
        font-size: 14px;
        font-weight: 600;

        &:focus {
            outline:none;
        }

        &:active {
            background-color: rgb(255, 221, 63);
        }
    }

    &__offer-price > p {
        margin: 3px 0;

        &:first-child {
            color:              rgb(254, 220, 63);
            font-size:          12px;
            font-weight:        600;
            text-transform:     uppercase;
        }

        &:last-child {
            color:              #fff;
            font-size:          27px;
            font-weight:        400;
        }
    }
}

.rating-value {
    position:               relative;
    display:                inline-block;
    top:                    -66px;
    left:                   23px;
    color:                  rgb(161, 164, 178);
    font-weight:            400;
    font-size:              18px;
}